Slamo__calculate.json
{
  "name": "Slamo %calculate",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -100
      ],
      "id": "29ee90df-3f12-43e0-808d-7cdb1d8afe31",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are getting used as a calculator. You ignore and never mention %calculate at the start of the sentence that gets sent. Respond with an explanation and keep it within 2000 characters including white spaces.\n\nTheir calculation is: {{ $json.content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        -100
      ],
      "id": "398f1f10-2477-46d9-8c43-5246e430bfd2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        100
      ],
      "id": "6a399f69-2097-4109-8c59-beb0fec2eb49",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Mq1Z1pk7AhNKaBCB",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        240,
        100
      ],
      "id": "056aae9e-5f91-4a3d-9b2e-f50716bb9823",
      "name": "Calculator"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1338789261159436372",
          "mode": "list",
          "cachedResultName": "2lazy2debug",
          "cachedResultUrl": "https://discord.com/channels/1338789261159436372"
        },
        "channelId": {
          "__rl": true,
          "value": "1338790128969187429",
          "mode": "list",
          "cachedResultName": "bot",
          "cachedResultUrl": "https://discord.com/channels/1338789261159436372/1338790128969187429"
        },
        "content": "Calculating...",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        80,
        -260
      ],
      "id": "28bb0758-82d0-4557-8da9-4582f80019b7",
      "name": "Send loading message",
      "credentials": {
        "discordBotApi": {
          "id": "ub5HIweE7P18UAOq",
          "name": "Slamo"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1338789261159436372",
          "mode": "list",
          "cachedResultName": "2lazy2debug",
          "cachedResultUrl": "https://discord.com/channels/1338789261159436372"
        },
        "channelId": {
          "__rl": true,
          "value": "1338790128969187429",
          "mode": "list",
          "cachedResultName": "bot",
          "cachedResultUrl": "https://discord.com/channels/1338789261159436372/1338790128969187429"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        440,
        -100
      ],
      "id": "2192b396-55d8-41ec-b43f-db79d1bccb2b",
      "name": "Send awnser",
      "credentials": {
        "discordBotApi": {
          "id": "ub5HIweE7P18UAOq",
          "name": "Slamo"
        }
      }
    },
    {
      "parameters": {
        "content": "## Calculating whatever gets sent to it",
        "height": 600,
        "width": 900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -320
      ],
      "typeVersion": 1,
      "id": "019f7e45-6438-4f8d-91e8-e05b8fcea4be",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send loading message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send awnser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd7593e2-8681-4e7f-92a2-2d8f643ba157",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0bac48fea17e2b37b73f987dbd3e652027c2b7184e8b942e96a9eb80ec425a8"
  },
  "id": "f2AuFejOi3aHV1VT",
  "tags": []
}